# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Optional: Ignore build folders or other temporary files
dist/
build/
